In [2]:
import pandas as pandas

data = pandas.read_csv('../../data/NYC airbnb/AB_NYC_2019.csv');

In [78]:
counts = data.host_id.value_counts().to_frame()
counts.columns = ['registration_count']
counts

           registration_count
219517861                 327
107434423                 232
30283594                  121
137358866                 103
12243051                   96
16098958                   96
61391963                   91
22541573                   87
200380610                  65
7503643                    52
1475015                    52
120762452                  50
2856748                    49
205031545                  49
190921808                  47
26377263                   43
2119276                    39
19303369                   37
25237492                   34
119669058                  34
76104209                   33
113805886                  33
213781715                  33
238321374                  32
51501835                   31
50760546                   31
224414117                  30
13347167                   29
39528519                   28
417504                     28
...                       ...
209237058                   1
18594883                    1
29285454                    1
202449469                   1
7708014                     1
48677964                    1
4443213                     1
5960171                     1
49753169                    1
32846930                    1
15535189                    1
91757655                    1
3266249                     1
1723485                     1
101809002                   1
50945119                    1
21148770                    1
63407204                    1
48161896                    1
113110121                   1
15397994                    1
14337132                    1
19729266                    1
156843123                   1
45483124                    1
1641589                     1
4070519                     1
208106618                   1
235939247                   1
1288080                     1

[37457 rows x 1 columns]