In [2]:
name = "Qiubo"

if type(name) == str:
    print(name)
    
age = 18

print(type(age))

print(name + " is " + str(age) + " years old.")

print(int(str(age)))

Qiubo
<class 'int'>
Qiubo is 18 years old.
18

In [86]:
import csv

blackFridayList = list(csv.reader(open('../pythons-and-pandas/data/black-friday/BlackFriday.csv')))

tuple(blackFridayList[1])

('1000001', 'P00069042', 'F', '0-17', '10', 'A', '2', '0', '3', '', '', '8370')

In [91]:
import csv

blackFridayList = list(csv.reader(open('../pythons-and-pandas/data/black-friday/BlackFriday.csv')))

print(len(blackFridayList))

first5Rows = tuple(blackFridayList[:5])

first5Rows

import pandas

first5RowsDataFrame = pandas.DataFrame(list(first5Rows[1:]),columns=list(first5Rows[0]))

first5RowsDataFrame

537578

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,,,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6,14,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,,,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14,,1057